*{
    margin: 0px;
    font-family: 'inter';
    padding: 0px;
}

#menuprincipal{
    background-color: rgb(30, 30, 30);
}

#tituloprincipal{
    padding-top: 150px;
    margin-left: 50px;
    color: aliceblue;
    font-size: 60px;
}

#subtitulo{
    margin-left: 40px;
    margin-top: 15px;
    color: aliceblue;
    padding-bottom: 100px;
    font-size: 22px;
}

#colunasinfo{
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    padding: 50px;
    margin-left: 150px;
}
.number{
    text-align: left;
}
.txt{
    text-align: left;
}

#imageminformacional{
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

#imagem{
    margin-right: -150px;
}

#textoimagem{
    padding-top: 220px;
    margin-left: 77px;
    font-size: 20px;
}

#tituloimg{
    margin-bottom: 40px;
}

#txtinfoimg{
    font-size: 24px;
}

#formulario{
    padding: 80px;
    padding-bottom: 100px;
    background-color: rgb(46, 45, 45);
    color: white;
    text-align: center;

}

button{
    background-color: #C07212;
    color: white;
    padding: 10px;
    border: 0;
    border-radius: 5px;
    margin-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
    cursor: pointer;
}

input{
    padding-left: 5px;
    padding: 5px;
    margin: 15px;
    border: 0;
    border-radius: 5px;
}

button:hover{
    background-color: #92642d;
    transform: translateY(-7px);
    box-shadow: 0px 15px 15px #b893664d;
}